@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/

.site {
  width: 100%;
  flex-grow: 1;
  flex-direction: row;
  background-image: url(/img/bg.jpg);
  background-size: cover;
}

/***************** main ***************/
.site__main {
  width: 70%;
  flex-direction: row;
  /*background-color: #F7F8FA;*/
}

.site__main-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(247,248,250,1), rgba(247,248,250,0));
}

.site__left-sidebar {
  /*background-color: #B1FAB3;*/
  position: fixed;
  left: 0;
  top: 0;
  width: 134px;
  padding-left: 35px;
  height: 100%;

  color: #515151;
  font-size: 48px;
  font-weight: 600;
}

.site__content {
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 247px;
  /*background-color: #F9AFB2;*/
}

.products {
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  width: 50%;
}

.product__display {
  border-width: 5px;
  border-color: #d8d8d8;
  margin: 7px;
  background-color: #FFF;
}

.product__img {
  width: 100%;
  padding: 40px 39px 23px 39px;
}

.product__add {
  align-self: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #D8D8D8;
  justify-content: center;
  margin-bottom: 19px;
}

.product__add__icon {
}

.product__price {
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: 600;
}

.product__description {
  flex-direction: row;
  align-items: center;
  padding: 15px 20px 20px 10px;
}

.product__name {
  flex-basis: 0;
  flex-grow: 1;
}

.product__heart {
}

/***************** sidebar right ***************/
.site__right-sidebar {
  position: fixed;
  right: 0;
  height: 100%;
  width: 30%;
}

.cart {
  flex-basis: 0;
  flex-grow: 1;
  background-color: #C4CCDA;
  overflow: scroll;
}

.cart__top-overlay {
  position:fixed;
  height: 30px;
  top: 60px;
  width: 100%;
  background: linear-gradient(rgba(192,207,221,1),  rgba(192,207,221,0));
  z-index: 900;
}

.cart__bottom-overlay {
  position:fixed;
  height: 30px;
  bottom: 394px;
  width: 100%;
  background: linear-gradient(rgba(192,207,221,0),  rgba(192,207,221,1));
}

.cart__title {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 24px;
  text-align: left;
  padding: 30px 0 0 42px;
  background-color: #C4CCDA;
  z-index: 1000;
}

.cart__content {
  margin-top: 89px;
}

.cart-item {
  margin-bottom: 20px;
}


.cart-item__top-part {
  flex-direction: row;
  align-items: center;
  padding-left: 42px;
}

.cart-item__image {
  border: solid #D8D8D8 3px;
  width: 33%;
}

.cart-item__image img {
  width: 100%;
}

.cart-item__top-part__middle {
  padding-left: 40px;
  flex-basis: 0;
  flex-grow: 1;
}

.cart-item__title {
  font-size: 18px;
  font-weight: 100;
}

.cart-item__price {
  font-size: 18px;
  font-weight: 500;
}

.cart-item__trash {
  padding-right: 47px;
}

.cart-item__qty {
  margin-left: 57px;
  margin-top: 15px;
  width: 105px;
}

.adjust-qty {
  flex-direction: row;
}

.adjust-qty__button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #F7F8FA;
  align-items: center;
}

.adjust-qty__number {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
}


/****************** checkout *****************/
.checkout {
  flex-basis: auto;
  flex-grow: 0;
  height: 394px;
  align-items: center;
  padding-top: 40px;
  background: linear-gradient(rgba(192,207,221,1), rgba(192,207,221,0));

}

.checkout__divider {
  background-color: #979797;
  height: 1px;
  width: 38.7%;
}

.checkout__coupon-input {
  margin-top: 36px;
  width: 80%;
}

.checkout__summary {
  margin-top: 64px;
  width: 80%;
}

.checkout__discount-line {
  flex-direction: row;
  justify-content: space-between;
}

.checkout__amount {
  font-size: 24px;
}

.checkout__amount_strikeout {
  text-decoration: line-through;
}

.checkout__amount_saving {
  color: #DC1A00;
  font-weight: bold;
}

.checkout__amount_bold {
  font-weight: 500;
}

.checkout__discount-line_last {
  justify-content: flex-end;
}

.checkout__button {
  width: 300px;
  height: 66px;
  background-color: #216E28;
  opacity: 0.42;
  flex-direction: row;
  align-items: center;
  margin-top: 46px;
}

.checkout__add-icon {
  padding-left: 33px;
}

.checkout__button-label {
  font-size: 24px;
  color: #F7F8FA;
  font-weight: 500;
  padding-left: 58px;
}



.site__right-sidebar-toggle {
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 0;
  right: 10px;
  background-color: #2B3951;
  justify-content: center;
  opacity: 0;
}

@media (max-width: 950px) {
  .site__main {
    width: 60%;
  }

  .site__right-sidebar {
    width: 40%;
  }

  .product {
    width: 100%;
  }

}

@media (max-width: 600px) {

  .site__main {
    width: 100%;
  }

  .site__left-sidebar {
    opacity: 0;
  }

  .site__content {
    margin: 0;
  }

  .product {
    width: 100%;
  }

  .site__right-sidebar {
    width: 80%;
    opacity: 0;
  }

  .site__right-sidebar-toggle {
    opacity: 1;
  }

}

body.js-show-right-sidebar .site__right-sidebar-toggle {
  left: 10px;
}

body.js-show-right-sidebar .site__right-sidebar {
  opacity: 1;
}


